/* CSS Document */
/*
  ----------------------------
  RESET
  ____________________________
*/
body,img,p,h1,h2,h3,h4,h5,h6,form,table,td,ul,ol,li,fieldset { margin:0; padding:0; border:0; }
p,h1,h2,h3,h4,h5,h6,ul { margin:15px 0; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: black;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 60rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/*------------------------------------------------*/


html, body {
  height: 100%;
}


h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 50px;
  color: #ff7e00;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border: solid 1px #ff7e00;;
  opacity: 0;
}

h2 {
  border: solid 1px #ff7e00;
  padding: 20px;
  color: #ff7e00;
  border-bottom: 0px;
  margin-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}

p {
  padding: 20px;
  border: solid 1px #ff7e00;
  border-top: ;
  margin-top: 0px;
  color: #ff7e00;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: none;
}

#nav {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  color: #ff7e00;
}

#nav li {
  background-color: rgba(47, 10, 5, 0.69);
  margin-bottom: 5px;
  padding: 5px 5px 5px 20px;
  cursor: pointer;
  background-image: url("../images/scanline.png");
  background-repeat: repeat;
  opacity: 0;
  transition: background-color .25s, color .25s;
}

#nav li:hover {
  background-color: #fd8901;
  color: #210704;
  background-image: none;
}

#cover {
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0px;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../img/videoframe.jpg') center center / cover no-repeat;
    }

    .fullscreen-video {
        display: none;
    }
}

#hangarVid {
  left: 20%;
  right: -20%;
}


* {
  box-sizing: border-box; 
}

body {
  margin: 0; 
  font-weight: 500;
}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0 auto;
  max-width: 1000px;
  height: 100vh;
}

.content {
  vertical-align: middle;
}

.layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 43%;
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

#menu {
  margin: 0 auto;
  width: 100%;
  max-width: 40rem;
  display: block;
  position: relative;
  z-index: 99;
  text-align: center;
  margin-top: 60px;
  margin-bottom: -100px;
  font-size: 20px;
  border-top: solid 1px #ff7e00;
  border-bottom: solid 1px #ff7e00;
  background-image: url("../images/scanline.png");
  background-repeat: repeat;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ff7e00;
  padding: 10px 0px 10px 0px;
  opacity: 0;
}

#menu li {
  display: inline;
  margin: 30px;
}

.fp-prev {
  display: none;
}

.fp-next {
  display: none;
}

.return {
  color: #ff7e00 !important;
  background-image: url(../images/scanline.png);
  background-repeat: repeat;
  background-color: #1F0404;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
}

.return:hover {
  background-color: #fd8901;
  color: #210704 !important;
  background-image: none;
}

p {
  background-color: rgba(0, 0, 0, 0.6);
}

#logo {
  display: block;
  opacity: 0;
  margin: 0 auto;
  margin-top: -200px;
}

.hangarleft {
  width: 49%;
  display: inline-block;
  margin-bottom: 5px;
}

.hangarright {
  width: 50%;
  display: inline-block;
  margin-bottom: 5px;
}

/* 
Preloader code by Ihatetomatoes.net
https://ihatetomatoes.net/create-custom-preloading-screen/
*/

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 185px;
  height: 185px;
  margin: -75px 0 0 -75px;
  z-index: 1001;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-image: url('../images/ring-alt.svg')
}



#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: black;
  z-index: 1000;
  opacity: 1;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
 

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper .loader-section.section-right {


  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader {
  opacity: 0;


}
.loaded #loader-wrapper {
  visibility: hidden;



  -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}